body {
  height: 100%;
  margin-top: 15vh;
  min-height: 100%;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background: #333;
  color: #f0f0f0;
}

#pageContent {
  margin: auto;
  width: 80vw;
}

#pageContent h1 {
  font-size: 36px;
  font-weight: bold;
}

#navLogo img {
  width: 3vw;
}

#pageFooter {
  bottom: 5vh;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

#pageFooter a {
  margin: 0.5rem 1rem;
  display: block;
}

#pageFooter img {
  height: 40px;
}

#pageFooter > div {
  align-items: center;
  background: #0c0c0c88;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 300px;
}

#pageNav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  margin: 0;
  position: fixed;
  top: 0px;
  width: 100vw;
}

#pageNav ul {
  align-items: center;
  background: #0c0c0cff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  width: 80vw;
}

#pageNav li {
  height: 100%;
  margin: 0 4vw 0 0;
}

#pageNav li:first-of-type {
  margin: 1vh 2vw 1vh 0;
}

#navLogoLink, #navLogoLink:hover, #navLogoLink:active {
  background: none !important;
  height: 7vh;
  margin: 0px;
  padding: 0px !important;
}

#pageNav a, #pageNav a:visited, #pageNav a:link {
  border-radius: 4px;
  color: #00c2ff;
  font-family: impact;
  font-size: 20px;
  padding: 2vh;
  text-decoration: none;
  transition: background 0.3s, color 0.6s;
}

#pageNav a:active, #pageNav a:hover {
  background: #f7ff08;
  color: #0088cc;
}

#root {
  margin: 0;
  padding: 0;
}
