* {
  transition: all 0.1s;
}

a, a:visited {
  color: #f0f0f0;
}

body {
  margin-top: 15vh;
  min-height: 80vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  width: 100%;
  border: none;
  padding: none;
  margin: none;
}

h1 {
  margin-bottom: 0;
}

hr {
  border: none;
  border-radius: 2px;
  color: #f0f0f0;
  background: #f0f0f0;
  height: 4px;
  margin-bottom: 5vh;
}

html {
  background: hsl(188, 100%, 8%);
  color: #f0f0f0;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

nav .mobileOnly {
  display: none;
}

#aboutmecontent {
  border-radius: 10px;
  background: #b3ebff;
  font-weight: light;
  line-height: 1.3em;
  font-size: 1.3em;
  padding: 1.2vw;
  color: #222;
}

#contact a {
  background-color: #0ffa; /* mint-light */
  border-radius: 4px;
  box-shadow: 2px 2px 5px #000;
  color: hsl(188, 100%, 8%);
  display: inline-block;
  margin: 0px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
}

#contact a:hover {
  background: #5cd65c; /* pastel green */
  transform: scale(1.2);
}

#contact .contactlink {
  background: none;
  box-shadow: none;
  color: #f0f0f0;
}

#contact .contactlink:hover {
  transform: none;
  text-decoration: underline;
}

#contactform {
  height: 1000px;
}

#pageContent {
  margin: auto;
  margin-bottom: 150px;
  margin-top: calc(10vh + 30px);
  width: 80vw;
  min-width: 340px;
}

#pageContent h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

#navLogoLink, #navLogoLink:hover, #navLogoLink:active {
  background: none !important;
  height: 100%;
  padding: 0px !important;
}

#navLogo img {
  display: inline-block;
  height: calc((1vw + 25px) / 1.31);
  max-width: 65px;
  /*min-width: 40px;*/
  width: calc(1vw + 25px);
  max-height: 50px;
}

#navToggle {
  align-items: center;
  background: #ffa;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  color: #333;
  cursor: pointer;
  display: none;
  font-size: 20px;
  height: 36px;
  justify-content: center;
  left: 20px;
  padding: 1px;
  padding-left: 5px;
  position: fixed;
  top: 20px;
  width: 30px;
  writing-mode: vertical-rl;
  z-index: 1000;
}

#navToggle:hover {
  background: #ff0;
  transform: scale(1.2);
}

#pageFooter {
  bottom: calc(5vh + 50px);
  position: fixed;
  width: 100vw;
  height: 0px;
  z-index: 3;
}

#pageFooter a {
  align-items: center;
  display: flex;
  margin: 4px;
}

#pageFooter img {
  max-width: 100%;
  width: 40px;
}

#pageFooter > div {
  align-items: stretch;
  background: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 300px;
}

#pageFooter > div > div {
  align-items: stretch;
  border-bottom: 2px solid lightblue;
  display: flex;
  margin-bottom: 4px;
  padding: 0px;
}

#pageFooter > div > div:hover {
  transform: scale(1.3);
  border-color: #0f0;
}

#pageNav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 5;
}

#pageNav ul {
  align-items: stretch;
  background: #333;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  width: 80vw;
  box-shadow: 0px 2px 4px #000;
}

#pageNav li {
  /* border-radius: 4px; */
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
  padding: 4px 0;
  /* height: 100%; */
  margin: 0 4vw 5px 0;
}

#pageNav li:nth-child(5n+1) {
  border-color: #00c2ff; /* blue */
  color: #00c2ff;
}

#pageNav li:nth-child(5n+2) {
  border-color: #fbff85; /* Yellow */
  color: #fbff85;
}

#pageNav li:nth-child(5n+3) {
  border-color: #ffc37a; /* pastel orange */
  color: #ffc37a;
}

#pageNav li:nth-child(5n+4) {
  border-color: #FF69B4; /* hot pink */
  color: #FF69B4;
}

#pageNav li:nth-child(5n+5) {
  border-color: #b3fff1; /* mint */
  color: #b3fff1;
}

#pageNav li:hover, #pageNav li:hover a {
  transform: scale(1.2);
  text-shadow: 0px 0px 10px #fff9;
}

/* #pageNav li:first-of-type {
  margin: 1vh 2vw 1vh 0;
} */


#pageNav a {
  align-content: center;
  color: inherit;
  display: flex;
  flex-grow: 1;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  justify-content: flex-start;
  padding: 0.5vh 0;
  text-decoration: none;
  transition: all 0.1s;
}

#pageNav a:active, #pageNav a:hover {
  /* background: #f7ff08; */
  /* color: #0088cc; */
  /* transform: scale(1.2); */
}

#pageNav .mobileOnly {
  margin-left: 8px;
  display: inline;
  align-content: center;
}

#pageOptions {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 7%;
  top: min(90px, calc(10vh + 15px));
  width: 300px;
  z-index: 5;
}

.optionsRow {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.optionsRow button {
  background: #f0f0f0ff;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  font-family: arial;
  box-shadow: 2px 2px 4px #000a;
  font-weight: 600;
  flex-grow: 1;
  height: 30px;
  margin: auto 1em;
  transition: all 0.1s;
}

.optionsRow button:hover:enabled {
  background: #faff70;
  transform: scale(1.1);
}

.optionsRow button:disabled {
  opacity: 0.6;
}


#root {
  margin: 0;
  padding: 0;
}

#section1Logo {
  margin: 0;
  height: min(calc(40vw * 0.763), 70vh);
  max-width: 40vw;
}

#section1LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
  margin-right: 0px;
}

#section1LogoContainer * {
  text-align: center;
}

#section1LogoContainer h2,
#section1LogoContainer h3,
#section1LogoContainer h4,
#section1LogoContainer h5 {
  margin: 0;
}

#section1LogoContainer h2 {
  color: #00c2ff;
  font-size: max(3vw, 30px);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#section1LogoContainer h4 {
  color: #fbff85;
  font-size: max(2vw, 20px);
}

#section1LogoContainer h5 {
  color: #ffc37a;
  font-size: max(1.6vw, 18px);
}

#section1LogoContainer hr {
  background: #fbff85;
  color: #fbff85;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 4vw;
  max-width: 37vw;
  width: calc(100% - 8vw);
}

.bigsection {
  margin-bottom: 12vh;
}

.mainSection {
  display: flex;
  flex-direction: row;
}

.mainSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainSection > div hr {
  background: #fff;
  display: block;
  margin: 15px 0 15px 0;
}

.mainSection .post_title {
  font-size: max(32px, calc(18px + 3vh)) !important;
  margin-bottom: 2vh !important;
}

.mainSection .post_content {
  margin-top: 2vh;
  font-size: max(calc(10px + 1vh), 20px);
  line-height: max(calc(16px + 1.5vh), 28px);
}

.post_content {
  border-radius: 10px;
  font-size: 18px;
}


.skillcontainer, .samplecontainer {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.outerskillbox {
  box-sizing: border-box;
  padding-bottom: min(30px,3vw);
  padding-right: min(30px,3vw);
  flex-grow: 1;
  flex-basis: 33%;
  max-width: 550px;
  min-width: 280px;
}

.imagebanner {
  max-width: 100%;
}

.innerskillbox {
  box-sizing: border-box;
  box-shadow: 0px 0px 8px black;
  border-radius: 10px;
  background: #229de7; /* the default (every three starting on the THIRD) */
  height: 100%;
  padding: 1em;
  transition: all 0.1s;
}

.innerskillbox:hover {
  transform: scale(1.2);
}

/* every three starting with the FIRST*/
.outerskillbox:nth-child(3n+1) .innerskillbox {
  background: #d22d2d; /*red*/
  color: #ffd4e5; /* blush-pink */
}

.outerskillbox:nth-child(3n+1) hr {
  background: #ffcce6;
}

/* every three starting wtih the SECOND */
.outerskillbox:nth-child(3n+2) .innerskillbox {
  background: #37913d; /* green */
  color: #fbff85; /* Pastel Yellow */
}

.outerskillbox:nth-child(3n+2) hr {
  background: #fbff85;
}

/* every three starting on the THIRD */
.outerskillbox:nth-child(3n) .innerskillbox {
  background: #229de7; /* Blue background */
  color: #d7fffe;  /* Ice Blue */
}

.outerskillbox:nth-child(3n) hr {
  background: #d7fffe;
}

.skillheader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 50px;
}

.skillheader img {
  height: 100%;
}

.skillname {
  font-size: 26px !important;
}

.outerskillbox * {
  font-family: arial;
}

.pageSection {
 /* padding-top: 10vh;*/
}

.samplecontainer {
}

.outersamplebox {
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  min-width: 350px;
  padding-bottom: min(30px,3vw);
  padding-right: min(30px,3vw);
  flex-basis: 50%;
  flex-grow: 1;
}

.innersamplebox {
  background: #c05780; /* pastel-purple */
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding: calc(1vw + 3px);
  flex-grow:1;
  transition: all 0.1s;
}

.innersamplebox .hoverlabel {
  visibility: collapse;
  background: #f0f0f0;
  color: #222;
}

.innersamplebox:hover .hoverlabel {
  height: auto;
  visibility: visible;
}

.innersamplebox:hover {
  transform: scale(1.1);
}

.innersamplebox .imagebanner {
  box-sizing: border-box;
  border-radius: 5px;
  background: #f0f0f0;
  padding: 10px;
  max-width: 100%;
  box-shadow: 2px 2px 10px #000;
  margin-bottom: 20px;
}

.sampleAnchor, .sampleAnchor:visited {
  display: inline-block;
  color: #f0f0f0;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.1s;
}

.sampleAnchor:hover, .sampleAnchor:active {
  color: #f7ff08;
  transform: scale(1.05);
}

.sampleAnchor:hover .sampleurl {
  color: #0088cc;
}

.sampleurl {
  color: #00c2ff;
  text-decoration: underline;
}

.sampleAnchor * {
  margin: 0;
}

h1.samplename {
  font-size: 10px;
}

input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
  background: #ddda;
  height: 20px;
  margin: 10px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

input[type=range]:hover {
  background: #ddd;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ccc;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px #000;
  cursor: pointer;
  height: 25px;
  opacity: 1;
  width: 25px;
}

input[type=range]::-moz-range-thumb {
  background: #ccc;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 4px #000;
  cursor: pointer;
  height: 25px;
  opacity: 1;
  width: 25px;

}
