body {
  height: 100%;
  margin-top: 15vh;
  min-height: 100%;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background: #333;
  color: #f0f0f0;
}

/*Just testing some stuff out*/
#animg {
  width: 5vw;
}

#pageContent {
  margin: auto;
  margin-bottom: 150px;
  width: 80vw;
}

#pageContent h1 {
  font-size: 36px;
  font-weight: bold;
}


#navLogo img {
  width: 3vw;
}

#pageFooter {
  bottom: 5vh;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

#pageFooter a {
  margin: 0.5rem 1rem;
  display: block;
}

#pageFooter img {
  height: 40px;
}

#pageFooter > div {
  align-items: center;
  background: #0c0c0c88;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 300px;
}

#pageNav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  margin: 0;
  position: fixed;
  top: 0px;
  width: 100vw;
}

#pageNav ul {
  align-items: center;
  background: #0c0c0cbb;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  width: 80vw;
}

#pageNav li {
  height: 100%;
  margin: 0 4vw 0 0;
}

#pageNav li:first-of-type {
  margin: 1vh 2vw 1vh 0;
}

#navLogoLink, #navLogoLink:hover, #navLogoLink:active {
  background: none !important;
  height: 7vh;
  margin: 0px;
  padding: 0px !important;
}

#pageNav a, #pageNav a:visited, #pageNav a:link {
  border-radius: 4px;
  color: #00c2ff;
  font-family: impact;
  font-size: 20px;
  padding: 2vh;
  text-decoration: none;
  transition: background 0.3s, color 0.6s;
}

#pageNav a:active, #pageNav a:hover {
  background: #f7ff08;
  color: #0088cc;
}

#pageOptions {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 7vw;
  top: 13vh;
  width: 84vw;
  z-index: 5;
}

.optionsRow {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  width: 300px;
}

.optionsRow button {
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
  flex-grow: 1;
  height: 30px;
  margin: auto 1em;
  transition: background 0.15s;
}

.optionsRow button:hover:enabled {
  background: #faff70;
}

#root {
  margin: 0;
  padding: 0;
}

#section1Logo {
  margin: 0;
  width: 37vw;
}

#section1LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vw;
  margin-right: 0px;
}

#section1LogoContainer h2, #section1LogoContainer h3 {
  margin: 0;
}

#section1LogoContainer h2 {
  color: #00c2ff;
  font-size: 3vw;
}

#section1LogoContainer h3 {
  color: #f7ff08;
  font-size: 2.5vw;
}

.pageSection {
  display: flex;
  flex-direction: row;
}

.pageSection .post_content {
  font-size: 20px;
}

.skillcontainer {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.outerskillbox {
  box-sizing: border-box;
  /*margin: 0.7em;*/
  padding: 1em;
  width: 25%;
  min-width: 200px;
}

.innerskillbox {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
  background: #229de7; /* the default (every three starting on the THIRD) */
  height: 100%;
}

/* every three starting with the FIRST*/
.outerskillbox:nth-child(3n+1) .innerskillbox {
  background: #f02929;
}

/* every three starting wtih the SECOND */
.outerskillbox:nth-child(3n+2) .innerskillbox {
  background: #2bd609;
}

.skillbox .skillname {
  font-size: 24px !important;
}
